.btn {
    height: 44px;
    padding-top: 4px;
    padding-bottom: 0;
}   

.btn-primary {
    color: white;
    border-color: transparent !important;
    box-shadow: 0 3px 0 darken($primary, 10%);
    box-shadow: 0 3px 0 transparentize($primary, .8);
    
    &:not(.disabled):not(.disabled) {
        &:hover,
        &:active {
            color: white;
        }
    }
}


