<div class="actions">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <div class="search">
                    <input class="form-control" type="text" placeholder="Search in docs">
                    <button class="search_button" value="">
                        <svg width="14" height="14">
                            <use xlink:href="#search" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-center">
                <div class="form-switch mr-4">
                    <input type="checkbox" class="form-switch-input" id="exampleSwitch1">
                    <label class="form-switch-label" for="exampleSwitch1">Only online</label>
                </div>
                <div class="form-switch">
                    <input type="checkbox" class="form-switch-input" id="exampleSwitch1" checked>
                    <label class="form-switch-label" for="exampleSwitch1">Tile view</label>
                </div>
            </div>
        </div>
    </div>
</div>