.btn {
    height: 44px;
    padding-top: 4px;
    padding-bottom: 0;
}

.btn-icon {
    width: 44px;
    border-radius: 22px;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

