.card {
    border-color: $gray-300;
    border-radius: $border-radius;

    small {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > code {
        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

.card-body {
    padding: $card-spacer-x $card-spacer-y;

    + code {
        margin-top: -$card-spacer-y / 2;
    }
}

.card-title {
    font-size: 20px;
    margin-bottom: 0;
}