code {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    background-color: $gray-100;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    font-size: $font-size-tiny;
}

section {
    padding: 3rem 0 1rem;
}

.content {
    background-color: white;
    font-size: $font-size-sm;

    section {
        padding: 4rem 0 1rem;
    }

    .card {
        background-color: $gray-100;

        > code {
            font-size: $font-size-tiny;
        }
    }
}

h1 {
    font-size: 24px;
    color: $secondary;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 3rem;
    font-size: 18px;
    margin-bottom: .5rem;
}