.navbar {
    padding: 0;
    box-shadow: 0 1px 4px transparentize(black, .95);
    z-index: $zindex-fixed;

    > .container {
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .navbar-nav {
        .nav-link {
            height: 56px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 2px;
            font-size: 16px;

            &:hover {
                background-color: $gray-100;
            }
        }

        .active .nav-link {
            color: $gray-800;
        }
    }

    .navbar-logo {
        height: 56px;
        margin-right: 20px;

        display: flex;
        align-items: center;
    }
}

.navbar-nav {
    .nav-link {
        display: inline-flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        color: $gray-500;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}