.table {
    td, th {
        vertical-align: baseline;
    }

    thead {
        th {
            border-bottom: none;

            // &:nth-child(1),
            // &:nth-child(4) {
            //     width: 100px;

            //     button {
            //         text-align: center;
            //     }
            // }

            &:not(.sorting) {
                button {
                    color: $gray-500;
                }
            }

            button {
                width: 100%;
                color: $color-text;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                transition: color $trans-fast;

                &:not(:disabled) {
                    &:hover,
                    &:focus {
                        color: $gray-900;
                    }
                }

                svg {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;
                }
            }
        }
    }

    tbody {
        td {
            font-size: $font-size-sm;
            background-color: white;

            > span {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        tr {
            &.code {
                font-family: 'Fira Code', monospace;
                font-size: $font-size-tiny;
            }
            &.status-inactive {
                td:nth-child(1) {
                    color: #FF8282;
                }
            }

            // td:nth-child(1) {
            //     color: #B3E87B;

            //     svg {
            //         margin: 0 auto;
            //     }
            // }

            // td:nth-child(2) {
            //     font-weight: $font-weight-bold;
            // }

            // td:nth-child(3) {
            //     font-size: $font-size-sm;
            // }

            // td:nth-child(4) {
            //     font-size: $font-size-sm;
            //     color: $gray-500;
            //     text-align: center;
            //     padding-top: 0;
            //     padding-bottom: 4px;
            // }

            td {
                box-shadow: 0 -1px 0 $gray-300;

                &:first-child {
                    box-shadow: 0 -1px 0 $gray-300, -1px 0 $gray-300;
                }

                &:last-child {
                    box-shadow: 0 -1px 0 $gray-300, 1px 0 $gray-300;
                }
            }

            &:last-child {
                td {
                    box-shadow:
                        0 -1px 0 $gray-300,
                        0 1px 0 $gray-300
                    ;

                    &:first-child {
                        box-shadow:
                            0 -1px 0 $gray-300,
                            0 1px 0 $gray-300,
                            -1px 0 $gray-300
                        ;
                    }

                    &:last-child {
                        box-shadow:
                            0 -1px 0 $gray-300,
                            0 1px 0 $gray-300,
                            1px 0 $gray-300
                        ;
                    }
                }
            }

            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-top-right-radius: $border-radius;
                    }
                }
            }

            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
    }
}
