.table {
    margin-bottom: 0;

    td, th {
        vertical-align: baseline;
    }

    thead {
        th {
            border-bottom: none;

            &:not(.sorting) {
                button {
                    color: $gray-500;
                }
            }

            button {
                width: 100%;
                color: $color-text;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                transition: color $trans-fast;

                &:not(:disabled) {
                    &:hover,
                    &:focus {
                        color: $gray-900;
                    }
                }

                svg {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;
                }
            }
        }
    }

    tbody {
        td {
            font-size: $font-size-sm;
            background-color: white;

            > span {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        tr {
            &.code {
                font-family: 'Fira Code', monospace;
                font-size: $font-size-tiny;
            }

            td {
                box-shadow: 0 -1px 0 $gray-300;

                &:first-child {
                    box-shadow: 0 -1px 0 $gray-300, -1px 0 $gray-300;
                }

                &:last-child {
                    box-shadow: 0 -1px 0 $gray-300, 1px 0 $gray-300;
                }
            }

            &:last-child {
                td {
                    box-shadow:
                        0 -1px 0 $gray-300,
                        0 1px 0 $gray-300
                    ;

                    &:first-child {
                        box-shadow:
                            0 -1px 0 $gray-300,
                            0 1px 0 $gray-300,
                            -1px 0 $gray-300
                        ;
                    }

                    &:last-child {
                        box-shadow:
                            0 -1px 0 $gray-300,
                            0 1px 0 $gray-300,
                            1px 0 $gray-300
                        ;
                    }
                }
            }

            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-top-right-radius: $border-radius;
                    }
                }
            }

            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
    }
}
