<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-end mb-1">
            <h5 class="card-title">
                <a href="">demo-organization</a>
            </h5>
            <span>amsterdam-citydata</span>
        </div>
        <small>http://{your-outway-address}:12018/demo-organization/amsterdam-citydata/</small>
    </div>
</div>