<div class="container">
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="sorting ascending">
                    <button>
                        Status
                        <svg width="8" height="12" viewBox="0 0 8 12" name="sortingArrow">
                            <g id="arrow-down" fill="none" fill-rule="evenodd">
                                <path id="Shape" fill="currentColor" fill-rule="nonzero" transform="rotate(90 4 5)" d="M5 4h-6v2h6v3l4-4-4-4z"></path>
                            </g>
                        </svg>
                    </button>
                </th>
                <th scope="col">
                    <button>Organisation</button>
                </th>
                <th scope="col">
                    <button>Service</button>
                </th>
                <th scope="col" >
                    <button>API</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="status-inactive">
                <td>
                    <svg width="10" height="10">
                        <use xlink:href="#status" />
                    </svg>
                </td>
                <td>
                    <span>Atos</span>
                </td>
                <td>
                    <span>ESuiteGatewayV1-Develop</span>
                </td>
                <td>
                    <span>http://{your-outway-address}:12018/Atos/ESuiteGatewayV1-Develop/</span>
                </td>
            </tr>
            <tr>
                <td>
                    <svg width="10" height="10">
                        <use xlink:href="#status" />
                    </svg>
                </td>
                <td>
                    <span><a href="#">demo-organization</a></span>
                </td>
                <td>
                    <span>amsterdam-citydata</span>
                </td>
                <td>
                    <span>http://{your-outway-address}:12018/demo-organization/amsterdam-citydata/</span>                    
                </td>
            </tr>
            <tr>
                <td>
                    <svg width="10" height="10">
                        <use xlink:href="#status" />
                    </svg>
                </td>
                <td>
                    <span>
                        <a href="#">demo-organization</a>
                    </span>
                </td>
                <td>
                    <span>demo-api</span>
                </td>
                <td>
                    <span>http://{your-outway-address}:12018/demo-organization/demo-api/</span>                    
                </td>
            </tr>
            <tr>
                <td>
                    <svg width="10" height="10">
                        <use xlink:href="#status" />
                    </svg>
                </td>
                <td>
                    <span>
                        <a href="#">demo-organization</a>
                    </span>
                </td>
                <td>
                    <span>kadaster-brk</span>
                </td>
                <td>
                    <span>http://{your-outway-address}:12018/demo-organization/kadaster-brk/</span>                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
