<button type="button" class="btn btn-icon{{#each modifiers}} btn-{{this}}{{/each}}{{#each classNames}} {{this}}{{/each}}" data-toggle="tooltip" title="Copy API url">
    <svg width="25" height="24">
        <use xlink:href="#github" />
    </svg>
</button>