.search {
    position: relative;

    .form-control {
        padding-right: 52px;
    }
}

.search_button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 52px;
    color: $gray-500;
    transition: color $trans-fast;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:disabled):not(.disabled) {
        &:hover {
            color: $primary;
        }
    }
}

.search--filter {
    .form-control {
        padding-right: 0;
        padding-left: 52px;
    }

    .search_button {
        width: 40px;
        right: auto;
        left: 0;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 9px;
            bottom: 9px;
            width: 1px;
            background-color: $gray-400;
        }
    }
}
