<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <div class="card">
                    <div class="card-body">
                        <b>API libraries</b>
                        <p>
                            Official libraries for the Stripe API are available in several languages. Community-supported libraries are also available for additional languages.
                        </p>

                        <b>API endpoint</b>
                    </div>
                    <code>
                        import stripe
                        <br>stripe.api_key = "sk_test_BQokikJOvBiI2HlWgH4olfQ2"
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>