body {
    background-color: $gray-100;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    // @include media-breakpoint-down(xl) {
    //     font-size: 14px;
    // }
    // @include media-breakpoint-up(xl) {
    //     font-size: 16px;
    // }
}

main {
    overflow-x: hidden;
}

.container {
    width: 100%;
}

.bd-content {
    padding-top: 60px;

    h1 {
        color: $secondary;
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 4px;
        line-height: inherit;
    }

    a {
        color: $secondary;
        border-bottom: 1px solid transparent;
        
        &:hover {
            color: $secondary;
            border-color: $sec-400;
        }
    }
}

.align-middle > [class^="col-"],
.align-middle > [class*=" col-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg {
    display: block;
}

// a {
//     color: inherit;
//     transition: $transition-base;

//     &:hover {
//         color: inherit;
//         text-decoration: none;
//     }
// }

h4 {
    font-size: 1.8rem;
    margin-bottom: .6rem;

    &.inset {
        margin-left: 2rem;
    }
}

p {
    margin-bottom: 2rem;
}

small {
    color: $gray-500;
}

:active {
    transition-duration: 100ms;
}

.section {
    padding: $jumbotron-padding 0;
    
    @include media-breakpoint-up(md) {
        padding: 6rem 0;
    }
}

.display-5  {
    margin-bottom: 4rem;
}

small, .small {
    font-size: .8rem;
    line-height: 1.8;
}

.sm-order-1 {
    @include media-breakpoint-down(sm) {
        order: 1;
    }    
}

.tooltip-inner {
    padding: 10px 20px 12px;
    text-align: left;
    border: 1px solid $gray-200;
    box-shadow: 0 2px 0 $gray-100;
}