$grey-10: lighten(black, 98%);
$grey-20: lighten(black, 96%);
$grey-30: lighten(black, 94%);
$grey-40: lighten(black, 90%);
$grey-50: lighten(black, 60%);
$grey-80: lighten(black, 30%);

$primary: #6699FF;

.Header {
    box-shadow: none;
    border-bottom: 1px solid $grey-40;
}

.Pen,
.Header,
.Frame-panel--sidebar {
    background-color: $grey-10;
}

.Frame-handle,
.Preview-handle,
.Pen-handle {
    background-color: $grey-10;

    &:hover, &:focus, &:active {
        background-color: $grey-10;
    }

    &:hover {
        cursor: grab;
    }
}

.Pen-header {
    display: none;
}

.Preview {
    border-top: none;
}    

.Tree-collectionLabel {
    color: $grey-80;
}

.Header-button {
    border-color: $grey-40 !important;

    &:hover {
        background-color: $grey-40;        
    }
}

[dir="ltr"] .Tree-depth-2 .Tree-collectionLabel, [dir="ltr"] .Tree-depth-2 .Tree-entityLink {
    // padding-left: 3rem;
}

.Tree-collectionLabel span {
    [dir="ltr"] & {
        margin-left: -2rem;
        padding-left: 1rem;
    }

    &::before {
        top: 0.45rem;
        opacity: 0.75;
    }
}

.Frame-panel--sidebar {
    [dir="ltr"] & {
        border: none;
    }
}

[dir="ltr"] .Preview-handle,
.Preview,
.Pen-info {
    border-color: $grey-40;
}

.Tree-title {
    color: $grey-50;
}

.Status-dot {
    background-color: transparent;
}

.Header-navToggle svg {
    height: 18px;
    fill: $grey-80;
}

.Tree-entityLink,
.Tree-collectionLabel {
    &:hover {
        background-color: $grey-20;
    }

    .is-current & {
        background-color: $grey-30;        
    }
}

a.Tree-entityLink:hover {
    color: $primary;
}

a {
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}

.Preview-resizer {
    max-width: calc(100% - 0.625rem);
}