<div class="search">
    <input class="form-control" type="text" placeholder="Search in docs">
    <button class="search_button" value="">
        <svg width="14" height="14">
            <use xlink:href="#search" />
        </svg>
    </button>
</div>
